@model List<string>
@{
    ViewBag.Title = "Home Page";
}

<div>
    @Html.EJS().DropDownList("games").Placeholder("Select a game").PopupHeight("200px").PopupWidth("300px").DataSource((IEnumerable<object>)Model).Render()
</div>