@{
    ViewBag.Title = "Home Page";
}

<div>
    <div style="height:100%;width:100%;">
        @Html.EJS().PdfViewer("pdfviewer").DocumentPath("https://cdn.syncfusion.com/content/pdf/pdf-succinctly.pdf").Render()
    </div>
</div>